### Create a variable to store the user's first name using snake_case.

In [5]:
first_name = "Ujjwal" #snake_case technique is followed while assigning a variable.

### Give 2 examples of invalid naming convention in python.

In [7]:
last-name = "Poudel" #kebab_case technique is followed while assigning a variable.

1middlename = "Raj" #a variable is declared starting with a whole number.

SyntaxError: invalid decimal literal (994330874.py, line 3)

### Using special character create a variable to store age of the person using PascalCase

In [8]:
AgeOfThePerson = 25

### Create a variable using alphabet and number to store a value for salary using CamelCase.

In [1]:
salaryJune06 = 40000

In [2]:
message = "Hello, World!"

# Slicing from index 0 to 5 (exclusive)
substring1 = message[0:5]
print(substring1)  # Output: Hello

# Slicing from index 7 to the end of the string
substring2 = message[7:]
print(substring2)  # Output: World!

# Slicing from the beginning to index 5 (exclusive) with a step of 2 (including that also)
substring3 = message[:5:2]
print(substring3)  # Output: Hlo

# Slicing the entire string with a step of 3
substring4 = message[::3]
print(substring4)  # Output: Hl r!

# Reversing the string using slicing with a step of -1
reversed_message = message[::-1]
print(reversed_message)  # Output: !dlroW ,olleH

Hello
World!
Hlo
Hl r!
!dlroW ,olleH

In [3]:
message = "Hello, World!"
substring1 = message[0:5]
print(substring1)

Hello

In [4]:
substring2 = message[7:]
print(substring2)

World!

In [5]:
substring3 = message[:5:2]
print(substring3)

Hlo

In [8]:
substring4 = message[0:9:4]
print(substring4)

Hoo

In [7]:
reversed_message = message[::-1]
print(reversed_message)

!dlroW ,olleH

In [14]:
example_string = "This is an example string"
print(example_string[-12:-7])

In [23]:
numbers = [1,2,3,4,5]
numbers[4] = 66
print(numbers)

[1, 2, 3, 4, 66]