## Data Structure Task
![](https://devopedia.org/images/article/41/8174.1595680354.png)

# List

In [73]:
# Creation: Create a list of your favorite fruits

my_favorite_fruits = ["apple","mango","peach","grape","banana"]

# Access: Access the second item in the list.

my_favorite_fruits[1]

# Update: Change the third item to "orange".

my_favorite_fruits[2] = "orange"
print(my_favorite_fruits)

#Remove: Remove the first item from the list.
my_favorite_fruits.remove("apple")
print(my_favorite_fruits)

['apple', 'mango', 'orange', 'grape', 'banana']
['mango', 'orange', 'grape', 'banana']

# Tuples

In [65]:
# Creation: Create a tuple with three different colors.
my_favorite_color = ("black","blue","white")
# Access: Access the third item in the tuple.
my_favorite_color[2]

# Update: Try to change the second item to "yellow" and observe what happens. Expect something error
my_favorite_color[1]="yellow"
print(my_favorite_color)

# Remove: Give reason why you can or can't
Tuple is immutable which means we cannot modify the elements after assigning it.

SyntaxError: invalid syntax (544573003.py, line 11)

# SET

In [66]:
# Creation: Create a set of your favorite movies

my_favorite_movie = {"The shawshank redemption","A million ways to die in the west","The Forest Gump"}
print(my_favorite_movie)

# Access: Check if your "Toy Car" is in the set.

# Update: Add "Miracle in Cell" to the set.

# Remove: Remove your least favorite movies.

{'The Forest Gump', 'The shawshank redemption', 'A million ways to die in the west'}

In [75]:
# Access: Check if your "Toy Car" is in the set.

print("Toy car" in my_favorite_movie)

False

In [77]:
# Update: Add "Miracle in Cell" to the set.

my_favorite_movie.add("Miracle in cell")
print(my_favorite_movie)

{'The shawshank redemption', 'Miracle in cell', 'A million ways to die in the west'}

In [69]:
my_favorite_movie.remove("The Forest Gump")
print(my_favorite_movie)

{'The shawshank redemption', 'Miracle in cell', 'A million ways to die in the west'}

# Dictionary

In [53]:
# Creation: Create a dictionary with three key-value pairs representing a person's details (e.g., name, age, city).

my_personal_details = {"name": "Ujjwal","age": 25,"city": "Pokhara"}
print(my_personal_details)

{'name': 'Ujjwal', 'age': 25, 'city': 'Pokhara'}

In [54]:
# Access: Access the person's age.

print(my_personal_details["age"])

25

In [1]:
# Update: Update the person's city to "Los Angeles".
my_personal_details["city"]="Los Angeles"
print(my_personal_details)

NameError: name 'my_personal_details' is not defined

In [74]:
# Remove: Remove the age key-value pair from the dictionary.

del my_personal_details["age"]
print(my_personal_details)

KeyError: 'age'

# List Compression

In [62]:
# Create a list of squares of numbers from 1 to 10.
numbers = [1,2,3,4,5,6,7,8,9,10]
squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
,# Explain in the markdown what is happening in this code

words = ["hello", "world", "python", "list", "comprehension"]
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['HELLO', 'WORLD', 'PYTHON', 'LIST', 'COMPREHENSION']

All the string values stored in variable name "words" is changed into uppercase.

> Submit to the email

Recommended Reading

https://www.stationx.net/python-data-structures-cheat-sheet/